body{
	background-image: url(../assets/patron.jpg);
	background-repeat: repeat;
}
main {
	width:1000px;
	min-height:550px;
	background-color:  rgba(131, 11, 11, 0.7);
	position:relative;
	margin:auto;
	
}
header.principal {
	position:relative;
	width:100%;
	height:210px;
	border-bottom: 1px solid black;
	background-color:rgb(226, 127, 46);
} 
header.principal div.logo{
	position:relative;
	width:150px;
	height:150px;
	border: 1px solid #000;
	top:30px;
	left:24px;
	background-image: url(../assets/logosena.png);
	background-size: 100%;
	
}
header.principal h1{
	position:absolute;
	top:60px;
	left:200px;
	font-size:40px;
}
nav.nav_horizontal{
	border-bottom: 1px solid #000;
	background-color:rgb(146, 89, 13);
}
nav.nav_horizontal ul{
	position: relative;
	border:0px;
	margin:0px;
	padding:0px;
}
nav.nav_horizontal li{
	position: relative;
	border:0px;
	margin:0px;
	padding:0px;
	list-style:none;
	display: inline-block;
	vertical-align: top;
}
nav.nav_horizontal li a{
	position: relative;
	padding:10px 20px;
	display: block;
	text-decoration: none;
	color:white;
    font-weight:bold;
}
nav.nav_horizontal li a:hover{ 
	background-color:rgb(39, 156, 92);
	color:#fff;

	}
	nav.nav_horizontal li a:active{ 
		background-color:rgb(100, 110, 28);
		color:#000;
}
#slideshow{
	position:relative;
	background-color: #fff;
	border:2px dotted #000;
	width:700px;
	height:250px;
	margin:20px auto;
	
}
#slideshow button:hover{
	background-color:rgb(26, 105, 170);
	color:#000;
}
#slideshow button{
	background-color: palevioletred;
	width:50px;
	height:50px;
	border:1px solid gray;
	border-radius: 50%;
	cursor:pointer;
	position: absolute;
	top:100px;
}
#slideshow button:active{
	background-color:rgb(66, 157, 231);
	color:#fff;
}
button.prev{
	left:-25px;
}
button.next{
	right:-25px;
}
.col{
	display: inline-block;
	border: 1px solid #000;
	width:325px;
	min-height:200px;
	margin:auto;
	background-color:rgba(255,255,255,0.9);
	border-top:2px solid #000;
	
}
.col  header{
	text-align:center;
}
.col header img{
	width:60px;
	height:60px;
	border:2px solid rgb(58,68,61);
	margin-top:-30px;
	background-color: #fff;
	border-radius:50%;
}
div.cols{
	position:relative;
	margin-top:40px;
}
div.cols p{
    padding: 20px;
    text-justify: auto;
}

footer.principal{
    position: relative;
    width: 100%;
    height: 40px;
    background-color:rgba(131, 11, 11, 0.4);
    text-align: center;
    border-top: 2px solid #000;
    color: #fff;
}

footer.principal h2{
    border:0px;
    padding:12px 0px;
    margin: 0px;
}

